<div class="[ block {% if entry.size == 'quarter' %}block--quarter{% elsif entry.size == 'half' %}block--half{% else %}block--full{% endif %} ] {% if entry.ratio == 'half' %}half{% elsif entry.ratio == 'double' %}double{% elsif entry.ratio == 'quarter' %}half{% else %}square{% endif %}">
	<div class="block_inner">

		<div class="block_entry">
				
			{% if entry.text == true %}
			{{ entry.content }}
			{% elsif entry.youtube %}		
			<iframe width="640" height="390" src="//www.youtube.com/embed/{{ entry.youtube }}?controls=0&showinfo=0&rel=0" controls="0" frameborder="0" allowfullscreen></iframe>
			{% elsif entry.image %}
			<a href="{{ entry.url }}" class="block-link">
				<img src="{{ site.baseurl }}/images/{{ entry.image }}{% if entry.ratio == 'double' %}-double{% elsif entry.size == 'quarter' %}-square{% elsif entry.ratio == square %}-square{% endif %}.jpg" alt="{{ entry.image }}">
			</a>
			{% endif %}
			
			{% if entry.youtube %}
			{% elsif entry.notitle == true %}
			{% else %}
				<div class="block_title">
					<h1>
						{{ entry.title }}
					</h1>
				</div>
			{% endif %}

		</div>
		
	</div>
	
	<div class="block_data">
		<div class="wrapper">
			
			<span class="title">{{ entry.title }}</span>

			<span class="content">
				{{ entry.content }}
			</span>

			<span class="color">#{{ entry.color }}</span>

		</div>
	</div>


</div>