/*	====================================
	Media
	==================================== */

img, svg
	max-width: 100%
	height: auto

p img
	border: 1px solid $grey
	padding: 3px

iframe
	width: 100%
	height: 100%