{% include head.html %}

<header class="banner">
	
	<style>
		header.banner {
			background-image: url( {{ site.url }}/images/{{ page.image }}.jpg );
		}
	</style>

	<div class="inner">
		<h1 class="title">
			<span id="theTitle">
				<a href="{{ page.url }}">{{ page.title }}</a>
			</span>
		</h1>
		<p>
			<time>
				{{ page.date | date: "%-d %B %Y" }}
			</time>
		</p>
	</div>

</header>

<div class="page-wrap">
	
	<article class="content">
		<span id="theContent">
			{{ page.content }}
		</span>
	</article>

	{% include footer.html %}

</div>	

{% include foot.html %}