.casestudy

	background:    $white
	border-top:    1px solid $grey
	border-bottom: 1px solid $grey
	box-shadow: 0 0px 5px rgba( $black, .1 )

	width: 100%
	height: auto
	min-height: 70%

	display: none

	+position ( absolute, 40px null null 0px )
	z-index: 10

	+transition( all 300ms $ease-in-out-cubic )
	transform: scale(1,0)
	transform-origin: 50% 00%

	.container
		padding: $block-padding 45px
		position: relative

	a.close
		+position( absolute, 0px 10px null null )
		// padding: 10px 30px
		display: inline-block
		fill: $red
		+transition( fill $easing )

		svg
			width:   50px
			height:  50px
			display: block

		&:hover
			fill: darken( $red, 5% )


	&.active
		transform: scale(1)