/* ====================================
	Independent page for Portfolio
	==================================== */


header.banner
	margin-top: 4em
	position: relative
	height: 280px
	overflow: hidden
	background: $black center center
		size: cover
	border-bottom: 1px solid $white
	box-shadow: 0 3px 15px $white


	.inner
		@extend .container
		@extend %vertical-align
		color: $white
		text-shadow: 0 1px 3px rgba( $black, .2 )